/** @format */

:root {
	--primary-color: blue;
	--secondary-color: #ccc;
	--third-color: #fff;
	--text-color: #222;
	--fourth-color: #ecf0f1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: var(--text-color);
}
html,
body {
	width: 100%;
}
.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 940px;
}
.buttons {
	width: 100%;
	height: 52px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.buttons button {
	margin-left: 40px;
	border: none;
	outline: none;
	background: none;
	width: 350px;
	color: var(--text-color);
	padding-bottom: 5px;
	font-size: 20px;
	cursor: pointer;
	letter-spacing: 1.5px;
	padding: 10px;
	border-radius: 10px;
	transition: 300ms background-color;
}
.buttons button:hover {
	background-color: var(--primary-color);
}
.tables {
	display: flex;
	width: 90%;
	margin: 0 auto;
	color: var(--text-color);
}
.tables table {
	border: 1px solid var(--secondary-color);
	border-collapse: collapse;
	width: 90%;
	padding: 10px;
	position: relative;
}
table:first-child {
	width: 100%;
	height: 450px;
	margin: auto;
}
table:last-child {
	width: 90%;
	height: 350px;
	position: absolute;
	margin: auto;
	opacity: 0;
}
table tr {
	text-align: center;
}
table tr:nth-child(even) {
	background-color: var(--primary-color);
}
.calculator {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 0 auto;
	padding-top: 60px;
	justify-content: space-between;
}
.calculator h2 {
	color: var(--text-color);
	padding-bottom: 30px;
	width: 120px;
}
.inputs {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.outputs {
	display: flex;
	width: 100%;
	justify-content: space-around;
	padding-top: 60px;
	opacity: 0;
	transition: 500ms opacity;
}
.outputs div {
	width: 300px;
	height: 130px;
	background-color: var(--secondary-color);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.outputs div .header {
	padding-bottom: 15px;
}
#inputAmount {
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 0px;
}
#totalAmount {
	font-size: 22px;
	color: var(--primary-color);
}
#monthlyProfit {
	font-size: 22px;
	color: var(--primary-color);
}
#changeCurrency {
	margin-left: 6px;
	font-size: 12px;
}
#changeCurrencyMonth {
	margin-left: 6px;
	font-size: 12px;
}
#inputMonth {
	font-size: 22px;
	color: var(--primary-color);
}
#outputPercent {
	font-size: 24px;
	margin-right: 6px;
	color: var(--primary-color);
}
.deposit-period .depositperiod {
	padding-left: 0px;
}
.month {
	margin-left: 8px;
	font-size: 15px;
}
.inputs div {
	padding: 10px;
}
.inputs div label {
	display: flex;
	flex-direction: column;
	height: 100px;
	justify-content: center;
	width: 190px;
}
.inputs div hr {
	height: 10px;
	border-radius: 10px;
	background-color: var(--fourth-color);
	border: none;
}
.inputs div label .range {
	width: 190px;
}
.inputs .deposit-amount .number {
	width: 110px;
	padding: 15px;
	border: none;
	background: none;
	font-size: 18px;
}
.monthlyProfit label p {
	text-align: center;
	width: 200px;
}
.annual-interest p {
	width: 200px;
	text-align: center;
}
.deposit-amount .range {
	margin-top: 5px;
}
.currency select {
	width: 190px;
	padding: 15px;
	border: none;
	background: none;
	font-size: 18px;
}
.deposit-period p {
	width: 110px;
	padding: 15px;
	border: none;
	background: none;
}
.interest-compounding select {
	width: 190px;
	padding: 15px;
	border: none;
	background: none;
	font-size: 18px;
}

@media only screen and (max-width: 1017px) {
	.calculator .inputs {
		flex-direction: column;
	}
	.inputs div {
		width: 100%;
	}
	.calculator .inputs div label {
		width: 100%;
	}
	.inputs div label .range {
		width: 100%;
	}
	.inputs div label select {
		width: 100%;
	}
	.outputs {
		flex-direction: column;
	}
	.outputs div {
		width: 100%;
		margin-top: 10px;
	}
	.buttons {
		flex-direction: column;
		position: relative;
	}
	.buttons button {
		font-size: 16px;
		margin: 0px;
		border: none;
	}
	.buttons #btnOne {
		display: none;
	}
	.buttons #btnTwo {
		width: 90%;
		margin: 30px 0px;
		display: flex;
		justify-content: center;
	}
}
